.compList {
  line-height: 1.2;
}

.table {
  margin: 0 -10px;
}

/* .row {

}

.cell {
  padding: 10px;
  border: 1px solid black;
}

.photo {
  width: 75px;
  height: 75px;
  background-color: #ccc;
}

.info {

}

.details {

}

.qnt {

}

.qntItem {
  
}

.price {

}

.priceItem {

}

.control {

} */
