.compList {
  /* line-height: 1.2; */
}

.table {
  display: grid;
  grid-template-columns: auto 1fr 62px 50px 50px 90px 60px 106px;
  grid-gap: 10px;
}

.table > div {
  align-self: center;
}

.th {
  justify-self: center;
  font-weight: bold;
}
