.table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

tr {
  border-top: 1px solid #dee2e6;
}

th,
td {
  padding: 8px;
}

/* td:first-child {
  padding-left: 0;
  text-align: left;
}

td:last-child {
  padding-right: 0;
} */

td {
  text-align: center;
}

.min {
  width: 10px;
}
