.info {
  display: flex;
  margin-bottom: 20px;
}

.projectImage {
  width: 200px;
}

.projectData {
  padding: 0 20px;
}

.price .row {
  display: flex;
  justify-content: space-between;
}

.asmQnt,
.price .item {
  color: #1e72bd;
  text-decoration: underline;
  cursor: pointer;
}

.control input {
  text-align: center;
}

.buttons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
