/* Comp Css */

.info {
  line-height: 1.3;
  text-align: left;
}

.partNumber, 
.partName {
  color: #1e72bd;
  text-decoration: underline;
  cursor: pointer;
}

.manufacture {
  font-size: 12px;
}

.photo {
  width: 150px;
}

.price {
  width: 100px;
  line-height: 1.3;
}

.price .priceRow {
  display: flex;
  justify-content: space-between;
}

.price .qntItem {
  color: #1e72bd;
  text-decoration: underline;
  cursor: pointer;
}

.control {
  width: 110px;
}

.control .input {
  width: 40px;
  border-radius: 0px;
  border-right: none;
  border-left: none;
  text-align: center;
}

.control .btnPlus {
  border-radius: 0 5px 5px 0;
}

.control .btnMinus {
  border-radius: 5px 0 0 5px;
}

.total {
  width: 70px;
}

.cart {
  width: 90px;
}

.cart .buttonAdd, 
.cart .buttonRefresh, 
.cart .buttonRemove {
  width: 30px;
  height: 30px;
}

.cart .buttonAdd {
  width: 100%;
}

.cart .buttonRefresh {
  margin-right: 5px;
}
