.row {
}

.cell {
  padding: 0 8px;
}

.photo {
  width: 75px;
  height: 75px;
  background-color: #ccc;
}

.info {
  width: auto;
}

.details {
}

.qnt {
}

.qntItem:hover {
  color: #1e72bd;
  text-decoration: underline;
  cursor: pointer;
}

.price {
}

.priceItem {
}

.control {
  /* display: flex; */
}

.total {
}

.icon {
  margin-right: 5px;
}

.input {
  width: 40px;
  border-radius: 0px;
  border-right: none;
  border-left: none;
  text-align: center;
  
}

.btnPlus {  
  border-radius: 0 5px 5px 0;
}

.btnMinus {
  border-radius: 5px 0 0 5px;
}
