.row {
  /* border: 1px solid black; */
}

.cell {
  padding: 10px;
  /* border: 1px solid black; */
}

.photo {
  width: 75px;
  height: 75px;
  background-color: #ccc;
}

.info {
}

.details {
}

.qnt {
}

.qntItem:hover {
  color: #1e72bd;
  text-decoration: underline;
  cursor: pointer;
}

.price {
}

.priceItem {
}

.control {
}

.total {
}
